nav {
    width: 100%;
    background-color: var(--primary-color);
    line-height: 3;
    text-align: center;

    a {
        text-decoration: none;
        font-size: var(--text-font-size);
        color: var(--text-color);
        width: 150px;
        padding: 10px;
    
        &.active {
            background-color: var(--secondary-color);
        }
    }
}