.game {
    position: relative;
    cursor: pointer;
    transition: var(--transition);
    color: var(--text-color);
    margin: 15px 5px;

    &__image {
        border-radius: 15px;
    }

    &__jackpot {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 1;
        background: rgba(black, var(--opacity));
        line-height: 2;
        font-weight: bold;
    }

    &__play {
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 40%;
        left: 40%;
        font-size: 0;
        transition: var(--transition);
    }

    &__name {
        display: none;
        position: absolute;
        top: 20%;
        left: 40%;
        font-size: var(--text-font-size);
    }

    &__ribbon {
        position: absolute;
        right: -2px;
        top: 8px;
        z-index: 2;
        
        img {
            width: 110px;
        }

        span {
            position: absolute;
            top: 25px;
            transform: rotate(45deg);
            right: 15px;
        }
    }

    &:hover {
        opacity: var(--opacity);
        .game__play {
            font-size: var(--icon-font-size);
        }
        .game__name {
            display: block;
        }
    }
}