.game {
    position: relative;
    cursor: pointer;
    transition: var(--transition);
    color: var(--text-color);
    margin: 15px 10px;

    &__image {
        border-radius: 15px;
        width: 100%;
    }

    &__jackpot {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 1;
        background: rgba(black, var(--opacity));
        line-height: 2;
        font-weight: bold;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    &__play {
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0;
        transition: var(--transition);
    }

    &__name {
        display: none;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: var(--text-font-size);
        font-weight: bold;
        width: 100%;
        text-align: center;
        text-shadow: 4px 4px 4px black;
    }

    &__ribbon {
        position: absolute;
        right: 0px;
        top: 0px;
        transform: translate(7%, -7%);
        z-index: 2;
        
        img {
            width: 110px;
        }

        span {
            position: absolute;
            top: 25px;
            transform: rotate(45deg);
            right: 15px;
        }
    }

    &:hover {
        transform: scale(1.05);

        .game__play {
            font-size: var(--icon-font-size);
        }
        .game__name {
            display: block;
        }
    }
}