.container {
    margin: 10px 50px;
}

.no-games {
    padding: 50px;
    text-align: center;

    p {
        font-size: var(--alternative-font-size);
        font-weight: bold;
        margin-bottom: 10px;
    }

    span {
        font-size: var(--icon-font-size);
    }
}

@media screen and (max-width: 1000px) {
    .container {
        margin: 10px;
    }
}